BASE_RPC=https://rpc.magicblock.app/devnet
ROUTER=https://devnet-router.magicblock.app/
TEE_RPC=https://devnet-tee.magicblock.app
TEE_WS=wss://devnet-tee.magicblock.app
TEE_VALIDATOR=MTEWGuqxUpYZGFJQcp8tLN7x5v9BSeoFHYWQQ3n3xzo
